.google-apps {
  background-image: url(/plugin_assets/google_apps/images/apps_logo_large.jpg);
  background-size: 16px 16px;
}

.google-apps-login-links {
  text-align: center;
}

.google-apps-login {
  margin-top: 150px;
  font-size: 40px;
}
